if SHIELD_SPLIT_3X5_3_LEFT

config ZMK_KEYBOARD_NAME
    default "Split 3x5+3 Left"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SPLIT_3X5_3_RIGHT

config ZMK_KEYBOARD_NAME
    default "Split 3x5+3 Right"

endif

if SHIELD_SPLIT_3X5_3_LEFT || SHIELD_SPLIT_3X5_3_RIGHT

config ZMK_SPLIT
    default y

endif